@model List<movies.Models.Movie>

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
<table class="table">
    <tbody>

        @foreach (var movie in Model)
        {
        <tr>
            <td>@movie.Id</td>
            <td>@movie.Name</td>
            <td>@movie.Score</td>
            <td>@movie.Review</td>
            <td>@movie.MustWatch </td>

        </tr>
        }
        </tbody>
</table>
    </div>